<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsyz.blog.mapper.Tagmapper">
    <resultMap id="BlogInfo" type="com.xsyz.blog.po.Tag">
        <id property="id" column="tid"/>
        <result property="name" column="tname"/>
        <collection property="blogs" ofType="com.xsyz.blog.po.Blog">
            <id property="id" column="id"/>
            <result property="firstPicture" column="first_picture"/>
            <result property="flag" column="flag"/>
            <result property="title" column="title"/>
            <result property="content" column="content"/>
            <result property="views" column="views"/>
            <result property="updateTime" column="update_time"/>
            <result property="createTime" column="create_time"/>
            <result property="commentabled" column="commentabled"/>
            <result property="shareStatement" column="share_statement"/>
            <result property="appreciation" column="appreciation"/>
            <result property="typeId" column="type_id"/>
            <result property="recommend" column="recommend"/>
            <result property="published" column="published"/>
            <result property="description" column="description"/>
            <result property="typeId" column="type_id"/>
        </collection>
    </resultMap>

    <select id="selectAll" resultMap="BlogInfo">
    SELECT b.id,b.first_picture,b.flag,b.title,b.content,b.views,b.update_time,b.commentabled,b.share_statement,
    b.appreciation,b.description,b.type_id,b.recommend,b.published,
    t.id tid ,t.name tname
	from t_tag t left  join t_blog_tags tb on t.id = tb.tags_id left  join t_blog b on tb.blogs_id = b.id

    </select>
    <select id="selectAllOnly" resultType="com.xsyz.blog.po.Tag">
    select * from t_tag
    </select>
</mapper>